body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  cursor: url('/smok.png') 16 16, auto;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  top: 20px;
  left: 20px;
  z-index: 1;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.draggable-image {
  width: 150px;
  height: auto;
  cursor: grab;
  opacity: 95%;
}

.draggable-image::hover {
  opacity: 100%;
}

.draggable-image.loaded {
  filter: none;
  transition: filter 400ms ease-out, opacity 200ms ease-out;
}

.thumbnail-preview {
  z-index: 0;
  transition: filter 400ms ease-out, opacity 200ms ease-out;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 900;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center align navigation links */
}

.navbar nav ul li {
  display: inline;
}

.navbar nav ul li span {
  display: inline-block;
  padding: 15px 20px; /* Adjust padding as needed */
  text-decoration: none;
  cursor: pointer;
}

.nav-selected span {
  background-color: #333333;
  color: white;
}

.logo img {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 256px;
  z-index: 900;
}

.cat {
  cursor: pointer;
  z-index: 299;
}

.cat img {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: 72px;
  cursor: pointer;
  z-index: 299;
}

.toggle-animations {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.text-panel {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10%;
  flex-direction: column;
}

.text-panel p {
  font-size: 16px;
  text-align: justify;
  margin: 0.5em 0.2em;
}

@media (max-width: 500px) {
  .text-panel {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .text-panel {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.bio-img {
  margin-bottom: 20px;
}

#home-page {
  height: 90vh;
}

#links {
  display: flex;
  flex-direction: column;
}

#links a {
  color: black;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}

.social-media-icons img {
  width: 60px;
  padding: 5px;
}

.burger-button {
  cursor: pointer;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.menu-item {
  cursor: pointer;
  padding: 16px;
  width: 80%;
}

.burger-menu-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  z-index: 200;
  height: 100vh;
}

@media (min-width: 768px) {
  .burger-menu-container {
    width: 25%;
  }
}

.burger-open {
  background-color: #ffffff;
  mask-image: linear-gradient(to right, white, #ae656500);
  padding-right: 70%;
}

.artwork-container {
  overflow-x: clip;
}

.nav-selected {
  /* border-bottom: 4px dotted black; */
}

.description-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.draggable-image:hover + .description-overlay {
  opacity: 1;
}

.artwork-container {
  overflow-x: clip;
  position: relative;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
