.artwork-list {
  width: 100%;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 80px;
  padding-top: 60px;
}

.artwork-item {
  margin: 10px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.artwork-thumbnail img {
  display: block;
  width: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.artwork-info {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artwork-title {
  font-size: 1.2em;
  font-weight: bold;
}

.category-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.category-image {
  width: 180px;
  height: 100%;
  margin-bottom: 20px;

  object-fit: cover;
  align-self: center;
}

.artwork-count {
  font-size: 0.6em;
  opacity: 0.5;
}
